# npm configuration for GitHub Packages
# 
# Note: You must authenticate to GitHub Packages to install or publish packages.
# For more information, see https://docs.github.com/packages/working-with-a-github-packages-registry/working-with-the-npm-registry
# This file should be in the same directory as your package.json file
# or in your home directory (e.g. ~/.npmrc) to apply to all npm projects on your machine

@opentelekomcloud-community:registry=https://npm.pkg.github.com
#//npm.pkg.github.com/:_authToken=YOUR_PERSONAL_ACCESS_TOKEN
